
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #ebf2f3;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
}

.animals {
    object-fit: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.selected {
    animation-duration: 0.5s;
    animation-name: shake;
}

.animals img {
    border: solid black 4px;
    width: 225px;
    height: 100px;
    margin: 20px;
    grid-auto-rows: auto;
    cursor: pointer;
    flex-wrap: wrap;
}

.animals div {
    display: flex;
    flex-direction: column;
}

span {
    text-align: center;
}